@import "./reset.css";
@import "./variables.css";

body {
  min-height: 100vh;

  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-bg);
  color: var(--color-text);

  scroll-behavior: smooth;

  /* Це забезпечить правильне відображення шрифтів у Windows/Bash терміналах */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: var(--container-width);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.logo {
  text-transform: uppercase;
  letter-spacing: 0.43em;

  transition: color 0.3s ease;
}

.logo:hover {
  color: var(--color-text-muted);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.button--main {
  padding: 8px 32px;
  font-family: var(--font-main);
  font-weight: 400;
  letter-spacing: 0.43em;
  color: var(--color-text);
  text-transform: uppercase;
  border: var(--btn-border);
  border-radius: var(--btn-radius);
}

.button--main:hover {
  background-color: var(--color-text);
  color: var(--color-text-muted);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding-top: 52px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 52px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 55px;
}

.nav__link {
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: var(--color-text-muted);
}

/* --- Hero Section --- */

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hero .container {
  display: flex;
  flex: 1;
}

.section__visual {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
  width: 100%;
}

.hero__content {
  max-width: 552px;
}

.title--main {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero__text {
  margin-bottom: 42px;
}

.hero__swipe {
  position: absolute;
  left: 0;
  bottom: 68px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2em;
}

.button-play {
  width: 69px;
  height: 69px;
  color: var(--color-text);
  border: 1px solid var(--color-text-muted);
  border-radius: 50%;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease,
    color 0.3s ease;
}

.button-play:hover {
  transform: scale(1.1);
  background-color: var(--color-text);
  color: var(--color-text-muted);
}
