@import "./reset.css";
@import "./variables.css";

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-main);
  /* Це забезпечить правильне відображення шрифтів у Windows/Bash терміналах */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}
